extends layout.pug

block content
  h1= vote.title
  h3= vote.desc

  ul(data-voteid=vote.id)#option-list
    each option in options
      li(data-optionid= option.id)= option.content
        span
  script(src="/socket.io/socket.io.js")
  script.
    let optionList = document.querySelector('#option-list')
    let optBtn = false
    optionList.addEventListener('click', async function vote(e){
      if(optBtn) return
      let optionid = e.target.dataset.optionid
      await axios.post('/voteup', {
        voteid: optionList.dataset.voteid,
        optionid: optionid,
      })
      main()
    })
    function updateState(voteResult) {
      console.log(voteResult)
      let count = _.countBy(voteResult, 'optionid')
      _.forEach(document.querySelector('ul').children, (val) => {
        val.lastChild.textContent = ' /0票' 
      })
      _.forEach(count, (val, key) => {
        document.querySelector(`[data-optionid="${key}"]`).lastChild.textContent = ' /' + val + '票'
      })
    }
    async function main() {
      let voteResult = (await axios.get(`/voteup/${optionList.dataset.voteid}/info`)).data
      if(voteResult == null) {
        return
      }else {
        optBtn = true
        updateState(voteResult)
        let socket = io()
        socket.on('new vote', data => {
          updateState(data.data)
        })
      }
    }

    main()

